#result {
  display: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

body {
  background: #06005c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #040238,
    #23004b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e4d203,
    #650262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
* {
  user-select: none;
}
#main {
  display: none;
}
.section-1 {
  color: black;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading-1 {
  font-size: 4em;
  color: rgb(219, 219, 219);
}

.custom-btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 100%;
}

.custom-btn:hover {
  background: rgba(255, 255, 255, 0.406);
}

.custom-btn-selected {
  background: rgba(255, 255, 255, 0.708);
}
